* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  color: unset;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slider {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slide_img {
  width: 100%;
  transition: transform 3s ease-in-out;
}
.btn_container {
  width: 50%;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  margin-top: 15px;
}
